$header-height: 90px;
$main-width: 1150px;

$open-sans: 'Open Sans', sans-serif;
$block1-font: 700 16px 'Open Sans', sans-serif;
$open-sans-bold: 'Open Sans Bold', sans-serif;


$verdana: 14px 'Verdana', sans-serif;
$verdana-bold: 700 50px 'Verdana', sans-serif;