@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.main {
  margin: 0 auto;
  max-width: 1150px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border: 5px solid #ececec;
  font: 700 50px "Verdana", sans-serif;
}

.header {
  position: relative;
  width: 100%;
  height: 90px;
  font: 700 50px "Verdana", sans-serif;
  font-size: 16px;
}

.header-view {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e7e7e7;
}

.header__logo {
  height: 56px;
}

.header__logo img {
  margin: 0 auto;
  display: table;
  width: 90px;
  height: auto;
  padding-top: 8px;
}

.header .nav-burger {
  display: block;
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  position: absolute;
  top: 13px;
  right: 20px;
  z-index: 1;
}

.header .nav-burger__checkbox + label:before {
  content: '\f00d';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 28px;
  color: black;
  font-weight: 100;
}

.header .nav-burger__checkbox:checked + label:before {
  content: '\f0c9';
  color: black;
}

.header .nav-burger__checkbox {
  display: none;
}

.header .nav-burger__checkbox:checked ~ .menu {
  display: none;
}

.header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .menu__link {
  width: 100%;
  text-decoration: none;
  height: 56px;
  color: black;
  line-height: 56px;
  text-align: center;
  border-bottom: 1px solid #ececec;
}

.header .menu__link:hover {
  background-color: #63d1bb;
  text-decoration: underline;
}

.header .menu__link-catalog {
  border-bottom: 1px solid #ececec;
}

.header .menu__link-search i {
  color: #d8d7d7;
  margin-left: -55px;
}

.header .menu__link-search:after {
  content: "Поиск по сайту";
  margin-left: 20px;
}

.header .menu__link-cart {
  padding-left: 35px;
}

.header .menu__link-cart:before {
  position: absolute;
  margin-left: -135px;
  content: url(../img/icons/cart.png);
}

.header .menu__link:first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
}

.header-tablet {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .header-tablet {
    display: block;
    position: relative;
    width: 100%;
    height: 70px;
    font: 700 50px "Verdana", sans-serif;
    font-size: 16px;
  }
  .header-tablet-view {
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #e7e7e7;
  }
  .header-tablet .menu {
    font-size: 1.5vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ececec;
  }
  .header-tablet .menu__wrapper {
    display: flex;
    align-items: center;
  }
  .header-tablet .menu__wrapper i {
    color: #d8d7d7;
    font-size: 2vw;
  }
  .header-tablet .menu__wrapper i:hover {
    color: #63d1bb;
  }
  .header-tablet .menu__wrapper i:active {
    color: #d0f1ea;
  }
  .header-tablet .menu__cart {
    position: relative;
  }
  .header-tablet .menu__cart:before {
    position: absolute;
    margin-left: -35px;
    content: url(../img/icons/cart.png);
    font-family: 'fontawesome';
    color: #d8d7d7;
  }
  .header-tablet .menu__cart:hover::before {
    content: url(../img/icons/cart-hvr.png);
  }
  .header-tablet .menu__cart a {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  .header-tablet .menu__cart a:hover {
    color: #8b8b8b;
  }
  .header-tablet .menu__cart a:active {
    color: #c9c9c9;
  }
  .header-tablet .menu__link {
    text-decoration: none;
    color: black;
  }
  .header-tablet .menu__link-search {
    margin: 0 77px 0 101px;
    padding: 35px 32px 33px 32px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }
  .header-tablet .menu__link:first-letter {
    text-transform: uppercase;
  }
}

.header-desktop {
  display: none;
  position: relative;
  width: 100%;
  height: 90px;
  font: 700 50px "Verdana", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 1150px) {
  .header-desktop {
    display: block;
  }
}

.header-desktop-view {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e7e7e7;
}

@media screen and (min-width: 1150px) {
  .header-desktop-view {
    font-size: 16px;
  }
}

.header-desktop .menu {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ececec;
}

.header-desktop .menu__link-catalog {
  margin-left: 2vw;
  margin-right: 2vw;
}

.header-desktop .menu .header-desktop__logo {
  position: relative;
  right: -4vw;
}

.header-desktop .menu .header-desktop__logo a {
  content: url(../img/main-logo.png);
}

.header-desktop .menu .header-desktop__logo a:hover {
  content: url(../img/main-logo-hvr.png);
}

.header-desktop .menu .header-desktop__logo a:active {
  content: url(../img/main-logo-active.png);
}

.header-desktop .menu__wrapper {
  display: flex;
  align-items: center;
}

.header-desktop .menu__wrapper i {
  color: #d8d7d7;
  font-size: 20px;
}

.header-desktop .menu__wrapper i:hover {
  color: #63d1bb;
}

.header-desktop .menu__wrapper i:active {
  color: #d0f1ea;
}

.header-desktop .menu__cart {
  position: relative;
}

.header-desktop .menu__cart a {
  text-decoration: none;
  color: black;
}

.header-desktop .menu__cart a:before {
  content: url("../img/icons/cart.png");
  display: inline-block;
  position: absolute;
  left: -46px;
}

.header-desktop .menu__cart a:hover {
  color: #8b8b8b;
}

.header-desktop .menu__cart a:hover::before {
  content: url(../img/icons/cart-hvr.png);
}

.header-desktop .menu__cart a:active {
  color: #c9c9c9;
}

.header-desktop .menu__cart a:active::before {
  content: url(../img/icons/cart-active.png);
}

.header-desktop .menu__cart a p {
  margin-right: 3vw;
}

.header-desktop .menu__link {
  text-decoration: none;
  color: black;
}

.header-desktop .menu__link:hover {
  color: #8b8b8b;
}

.header-desktop .menu__link:active {
  color: #c9c9c9;
}

.header-desktop .menu__link-search {
  margin: 0 77px 0 101px;
  padding: 35px 32px 33px 32px;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.header-desktop .menu__link:first-letter {
  text-transform: uppercase;
}

.main-content {
  width: 100%;
}

.main-content .home {
  position: relative;
}

.main-content .home *:first-letter {
  text-transform: uppercase;
}

.main-content .home-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 133vw;
  background-image: url(../img/mobile/home-bg-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .main-content .home-view {
    background-image: url(../img/tablet/home-bg-tablet.jpg);
    background-size: cover;
    background-position: center;
    height: 86vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content .home-view {
    height: 70vw;
  }
}

.main-content .home__link, .main-content .home__delivery {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .main-content .home__link, .main-content .home__delivery {
    visibility: visible;
  }
}

.main-content .home .wrapper__props {
  margin-top: 1vw;
}

.main-content .home__link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.main-content .home__link:hover {
  color: #8b8b8b;
}

.main-content .home__link:active {
  color: #c9c9c9;
}

.main-content .home__link-tablet {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .main-content .home__link-tablet {
    display: block;
  }
}

.main-content .home__link-desktop {
  display: none;
}

@media screen and (min-width: 1150px) {
  .main-content .home__link-desktop {
    display: block;
  }
}

.main-content .home__link-pos {
  float: left;
}

@media screen and (min-width: 1150px) {
  .main-content .home__link-pos {
    font-size: 16px;
  }
}

.main-content .home__link-pos:nth-child(1) {
  margin-left: 8vw;
  margin-right: 5vw;
}

@media screen and (min-width: 850px) {
  .main-content .home__link-pos:nth-child(1) {
    margin-left: 9vw;
  }
}

@media screen and (min-width: 950px) {
  .main-content .home__link-pos:nth-child(1) {
    margin-left: 10vw;
  }
}

@media screen and (min-width: 1050px) {
  .main-content .home__link-pos:nth-child(1) {
    margin-left: 12.5vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content .home__link-pos:nth-child(1) {
    margin-left: 3vw;
    font-size: 16px;
  }
}

.main-content .home__link-pos:nth-child(3), .main-content .home__link-pos:nth-child(4) {
  font-size: 14px;
  margin-right: 13px;
  margin-left: 41px;
}

.main-content .home__delivery {
  font-size: 14px;
  color: #444;
  color: #757575;
}

.main-content .home__delivery-pos {
  float: right;
  margin-right: 7vw;
}

@media screen and (min-width: 850px) {
  .main-content .home__delivery-pos {
    margin-right: 9vw;
  }
}

@media screen and (min-width: 950px) {
  .main-content .home__delivery-pos {
    margin-right: 10vw;
  }
}

@media screen and (min-width: 1020px) {
  .main-content .home__delivery-pos {
    margin-right: 11.5vw;
  }
}

@media screen and (min-width: 1100px) {
  .main-content .home__delivery-pos {
    margin-right: 12.5vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content .home__delivery-pos {
    margin-right: 4.5vw;
  }
}

.main-content .home__title-view {
  margin-top: -20vw;
  padding: 0 8vw 0 8vw;
  font-size: 6vw;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-content .home__title-view {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content .home__title-view {
    font-size: 50px;
    width: 90%;
    margin-left: 5vw;
  }
}

.main-content .home__down-line {
  display: none;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main-content .home__down-line {
    display: block;
  }
}

.main-content .home__down-line_pos {
  position: absolute;
  left: 0;
  bottom: 0;
}

.main-content .service {
  font: 700 20px 'Tahoma',     sans-serif;
  color: #fff;
}

.main-content .service-view {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main-content .service-view {
    flex-direction: row;
    width: 88%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1150px) {
  .main-content .service-view {
    width: 91%;
  }
}

.main-content .service__interior-view, .main-content .service__toys-view {
  position: relative;
  width: 100%;
  height: 17vw;
}

@media screen and (min-width: 768px) {
  .main-content .service__interior-view, .main-content .service__toys-view {
    width: 50%;
    height: 16vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content .service__interior-view, .main-content .service__toys-view {
    width: 50%;
    height: 13vw;
  }
}

.main-content .service__interior {
  background-color: #63d1bb;
}

.main-content .service__toys {
  background-color: #56c3b2;
}

.main-content .interior__img-pos, .main-content .toys__img-pos {
  position: absolute;
  right: 7vw;
  bottom: 3vw;
  width: 8vw;
}

@media screen and (min-width: 768px) {
  .main-content .interior__img-pos, .main-content .toys__img-pos {
    bottom: 5vw;
    right: 5vw;
  }
}

.main-content .interior__title-view, .main-content .toys__title-view {
  margin: 4vw 0 0 38px;
  width: 114px;
  font-size: 4vw;
}

@media screen and (min-width: 768px) {
  .main-content .interior__title-view, .main-content .toys__title-view {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content .interior__title-view, .main-content .toys__title-view {
    margin: 3vw 0 0 38px;
    font-size: 2vw;
  }
}

@media screen and (min-width: 768px) {
  .main-content img.toys__img-pos {
    width: 7vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content img.toys__img-pos {
    width: 5vw;
  }
}

@media screen and (min-width: 768px) {
  .main-content img.interior__img-pos {
    width: 5vw;
  }
}

@media screen and (min-width: 1150px) {
  .main-content img.interior__img-pos {
    width: 4vw;
  }
}

.best-of-week {
  width: 85%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .best-of-week {
    height: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week {
    position: relative;
    height: 860px;
  }
}

.best-of-week__title {
  padding-top: 5vw;
}

.best-of-week__title h2 {
  font-size: 6vw;
}

.best-of-week__title h3 {
  font-size: 3.5vw;
  text-transform: uppercase;
  color: #63d1bb;
}

@media screen and (min-width: 768px) {
  .best-of-week__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  .best-of-week__title h2 {
    font-size: 5vw;
  }
  .best-of-week__title h3 {
    font-size: 2vw;
    width: 12vw;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week__title {
    margin-left: 1.5vw;
    width: 73%;
    align-items: center;
    flex-direction: row-reverse;
  }
  .best-of-week__title h2 {
    font-size: 50px;
    width: 100%;
  }
  .best-of-week__title h3 {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 768px) {
  .best-of-week__wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week__wrapper {
    margin-left: 12vw;
  }
}

.best-of-week p {
  padding-top: 5vw;
  font-weight: normal;
  font-size: 3.5vw;
  color: #444444;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .best-of-week p {
    font-size: 2vw;
    line-height: 2;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week p {
    font-size: 16px;
    width: 67%;
    padding-top: 0;
  }
}

.best-of-week p.price {
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .best-of-week p.price {
    margin-top: 48vw;
    margin-left: 10vw;
    position: absolute;
    font-size: 2vw;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week p.price {
    font-size: 18px;
    bottom: 23vw;
    left: -4vw;
    margin-left: 0;
  }
}

@media screen and (min-width: 1500px) {
  .best-of-week p.price {
    bottom: 16vw;
    left: 0;
  }
}

.best-of-week__description, .best-of-week .description {
  padding-top: 5vw;
  font-weight: normal;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .best-of-week__description, .best-of-week .description {
    padding-top: 2vw;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week__description, .best-of-week .description {
    display: flex;
    width: 81%;
  }
  .best-of-week__description__type, .best-of-week .description__type {
    width: 30%;
  }
  .best-of-week__description__value, .best-of-week .description__value {
    width: 70%;
  }
}

.best-of-week__description__value *, .best-of-week__description__type *, .best-of-week .description__value *, .best-of-week .description__type * {
  border-bottom: 1px solid #ececec;
  padding: 2vw 0vw;
  color: #444444;
}

@media screen and (min-width: 768px) {
  .best-of-week__description__value *, .best-of-week__description__type *, .best-of-week .description__value *, .best-of-week .description__type * {
    padding: 1vw 0vw;
  }
}

.best-of-week__img {
  padding: 6vw 0 2vw 0;
  width: 100%;
}

.best-of-week__img img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .best-of-week__img {
    width: 48%;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week__img {
    display: none;
  }
}

.best-of-week__img-desktop {
  display: none;
  padding: 6vw 0 2vw 0;
  width: 100%;
}

.best-of-week__img-desktop img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1150px) {
  .best-of-week__img-desktop {
    display: block;
    position: absolute;
    right: -3vw;
    z-index: -1;
    width: 50%;
  }
}

.best-of-week button {
  margin: 8vw auto 0 auto;
  padding: 4vw 20vw;
  display: table;
  font-size: 6vw;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border-color: #444444;
}

.best-of-week button:hover {
  cursor: pointer;
  color: white;
  background-color: #444444;
}

.best-of-week button:active {
  cursor: pointer;
  color: #838383;
  background-color: #444444;
}

@media screen and (min-width: 768px) {
  .best-of-week button {
    position: relative;
    bottom: 18vw;
    right: 23vw;
    padding: 0 9vw;
    font-size: 2vw;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week button {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 1vw 7vw;
    position: absolute;
    bottom: 18vw;
    left: 12vw;
  }
}

@media screen and (min-width: 1500px) {
  .best-of-week button {
    bottom: 12vw;
  }
}

.best-of-week .zigzag-line {
  margin-top: 10vw;
  height: 5vw;
  position: relative;
}

.best-of-week .zigzag-line img {
  position: absolute;
  margin-left: -8vw;
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .best-of-week .zigzag-line {
    margin-top: 10vw;
    height: 5vw;
    position: relative;
  }
  .best-of-week .zigzag-line img {
    position: absolute;
    margin-left: -91vw;
    width: 100vw;
    top: -6vw;
  }
}

@media screen and (min-width: 1150px) {
  .best-of-week .zigzag-line {
    bottom: -2vw;
    width: 100%;
  }
  .best-of-week .zigzag-line img {
    position: unset;
    margin-left: -8vw;
    width: 100vw;
  }
}

.about-us {
  width: 87%;
  margin: 0 auto;
}

.about-us h2 {
  padding: 5vw 0 8vw 0;
  font-size: 6vw;
}

@media screen and (min-width: 768px) {
  .about-us h2 {
    font-size: 5vw;
    padding-top: 0;
  }
}

@media screen and (min-width: 1150px) {
  .about-us h2 {
    padding: 0vw 0 4vw 0vw;
    font-size: 4vw;
    width: 82%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .about-us__advantage, .about-us .advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .about-us__advantage-1, .about-us__advantage-3, .about-us__advantage-4, .about-us__advantage-5, .about-us__advantage-6, .about-us .advantage-1, .about-us .advantage-3, .about-us .advantage-4, .about-us .advantage-5, .about-us .advantage-6 {
    width: 48%;
  }
  .about-us__advantage-2, .about-us .advantage-2 {
    width: 40%;
    order: 1;
  }
  .about-us__advantage-3, .about-us .advantage-3 {
    order: 2;
  }
  .about-us__advantage-5, .about-us .advantage-5 {
    order: 1;
  }
  .about-us__advantage-6, .about-us .advantage-6 {
    order: 2;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__advantage, .about-us .advantage {
    width: 83%;
    margin: 0 auto;
  }
}

.about-us__advantage p, .about-us .advantage p {
  padding: 3vw 0 10vw 0;
  font-size: 3.5vw;
}

@media screen and (min-width: 768px) {
  .about-us__advantage p, .about-us .advantage p {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__advantage p, .about-us .advantage p {
    font-size: 24px;
    padding: 1.5vw 0 4vw 0;
  }
}

.about-us__advantage__img, .about-us .advantage__img {
  width: 10vw;
  height: auto;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .about-us__advantage__img, .about-us .advantage__img {
    width: 6vw;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__advantage__img, .about-us .advantage__img {
    width: 4vw;
  }
}

.about-us__advantage__img img, .about-us .advantage__img img {
  width: 100%;
  height: auto;
}

.about-us__advantage .roket, .about-us .advantage .roket {
  width: 15vw;
}

@media screen and (min-width: 768px) {
  .about-us__advantage .roket, .about-us .advantage .roket {
    width: 9vw;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__advantage .roket, .about-us .advantage .roket {
    width: 6vw;
  }
}

.about-us__review, .about-us .review {
  position: relative;
}

.about-us__review img.review, .about-us .review img.review {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-us__review, .about-us .review {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  .about-us__review img.review, .about-us .review img.review {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0vw;
    left: -7vw;
    width: 42vw;
  }
}

@media screen and (min-width: 768px) and (min-width: 1150px) {
  .about-us__review img.review, .about-us .review img.review {
    width: 43%;
    height: 70%;
    bottom: 8vw;
    left: -11vw;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__review, .about-us .review {
    width: 78%;
    margin: 0 auto;
  }
}

.about-us__review h2, .about-us .review h2 {
  padding: 5vw 0 2vw 0;
  font-size: 6vw;
}

@media screen and (min-width: 768px) {
  .about-us__review h2, .about-us .review h2 {
    padding: 10vw 0 0 0;
    font-size: 5vw;
    order: -1;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__review h2, .about-us .review h2 {
    font-size: 4vw;
    width: auto;
    margin: 0;
  }
}

.about-us__review h3, .about-us .review h3 {
  font-size: 4vw;
}

@media screen and (min-width: 768px) {
  .about-us__review h3, .about-us .review h3 {
    font-size: 2vw;
  }
}

.about-us__review p, .about-us .review p {
  padding: 3vw 0 5vw 0;
  line-height: 2;
  font-size: 16px;
  color: #444444;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .about-us__review p, .about-us .review p {
    font-size: 2vw;
    padding-bottom: 3vw;
    padding-top: 5vw;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__review p, .about-us .review p {
    font-size: 1.5vw;
  }
}

.about-us__review__author p, .about-us .review__author p {
  padding: 0 0 10vw 0;
}

.about-us__review__switch, .about-us .review__switch {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  font-size: 12vw;
  overflow: hidden;
  line-height: 0;
}

.about-us__review__switch-left, .about-us .review__switch-left {
  padding: 1vw 14vw;
  border: 1px solid #ececec;
}

.about-us__review__switch-left:hover, .about-us .review__switch-left:hover {
  background-color: #63d1bb;
  cursor: pointer;
}

.about-us__review__switch-right, .about-us .review__switch-right {
  padding: 1vw 14vw;
  border: 1px solid #ececec;
}

.about-us__review__switch-right:hover, .about-us .review__switch-right:hover {
  background-color: #63d1bb;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .about-us__review__switch, .about-us .review__switch {
    font-size: 6vw;
    position: relative;
    top: -10vw;
  }
  .about-us__review__switch-left, .about-us__review__switch-right, .about-us .review__switch-left, .about-us .review__switch-right {
    padding: 1vw 2vw;
    border: none;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__review__switch, .about-us .review__switch {
    position: absolute;
    top: auto;
    right: -10vw;
    bottom: 10vw;
  }
  .about-us__review__switch-left, .about-us__review__switch-right, .about-us .review__switch-left, .about-us .review__switch-right {
    padding: 0vw 2vw;
    border: none;
  }
}

.about-us__review button, .about-us .review button {
  margin: 12vw auto 0 auto;
  padding: 5vw 25vw;
  display: table;
  text-align: center;
  font-size: 6vw;
  text-transform: uppercase;
  background-color: transparent;
  border-color: #444444;
}

.about-us__review button:hover, .about-us .review button:hover {
  cursor: pointer;
  color: white;
  background-color: #444444;
}

.about-us__review button:active, .about-us .review button:active {
  cursor: pointer;
  color: #838383;
  background-color: #444444;
}

@media screen and (min-width: 768px) {
  .about-us__review button, .about-us .review button {
    margin: 0;
    padding: 1.5vw 6vw;
    font-size: 2vw;
    order: -1;
  }
}

@media screen and (min-width: 1150px) {
  .about-us__review button, .about-us .review button {
    position: absolute;
    top: 20%;
    right: -15%;
    padding: 1vw 4vw;
  }
}

.about-us .zigzag-line {
  margin-top: 10vw;
  height: 5vw;
  position: relative;
}

.about-us .zigzag-line img {
  position: absolute;
  margin-left: -8vw;
  width: 100vw;
}

@media screen and (min-width: 1150px) {
  .about-us .zigzag-line {
    margin: 0;
  }
}

@media screen and (min-width: 1150px) {
  .contact {
    display: flex;
    position: relative;
    height: 500px;
    margin-top: 2vw;
  }
  .contact__wrapper {
    width: 50%;
  }
}

.contact__title, .contact .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1150px) {
  .contact__title, .contact .title {
    width: 70%;
    margin: 4vh 10vh;
    justify-content: space-around;
  }
}

.contact__title h2, .contact .title h2 {
  padding: 5vw 0 5vw 4vw;
  font-size: 8vw;
}

@media screen and (min-width: 768px) {
  .contact__title h2, .contact .title h2 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1150px) {
  .contact__title h2, .contact .title h2 {
    padding: 0;
    font-size: 48px;
  }
}

.contact__title__flag, .contact .title__flag {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__title__flag, .contact .title__flag {
    display: block;
    width: 11vw;
  }
  .contact__title__flag img, .contact .title__flag img {
    width: 100%;
    padding-right: 5vw;
  }
}

@media screen and (min-width: 1150px) {
  .contact__title__flag, .contact .title__flag {
    width: 3vw;
    order: -1;
  }
  .contact__title__flag img, .contact .title__flag img {
    width: 100%;
    padding: 0;
  }
}

.contact__info, .contact .info {
  width: 87vw;
  margin: 0 auto;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .contact__info, .contact .info {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    margin-left: 4vw;
  }
}

@media screen and (min-width: 1150px) {
  .contact__info, .contact .info {
    margin-left: 33%;
    width: 55%;
    justify-content: space-around;
    flex-direction: column;
  }
}

.contact__info p, .contact .info p {
  font-size: 4.5vw;
  font-weight: normal;
  color: #444444;
}

@media screen and (min-width: 768px) {
  .contact__info p, .contact .info p {
    font-size: 16px;
  }
}

.contact__info__email, .contact .info__email {
  display: flex;
  justify-content: space-between;
  width: 94%;
  padding-bottom: 7vw;
}

@media screen and (min-width: 768px) {
  .contact__info__email, .contact .info__email {
    display: flex;
    justify-content: space-between;
    width: 41%;
  }
}

@media screen and (min-width: 1150px) {
  .contact__info__email, .contact .info__email {
    width: 94%;
    padding-bottom: 2vw;
  }
}

.contact__info__address, .contact .info__address {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .contact__info__address, .contact .info__address {
    display: flex;
    justify-content: space-between;
    width: 44%;
  }
}

@media screen and (min-width: 1150px) {
  .contact__info__address, .contact .info__address {
    width: 100%;
  }
}

.contact__info__map-mobile, .contact .info__map-mobile {
  padding-top: 8vw;
}

.contact__info__map-mobile img, .contact .info__map-mobile img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contact__info__map-mobile, .contact .info__map-mobile {
    display: none;
  }
}

.contact__info__map-tablet, .contact .info__map-tablet {
  display: none;
}

.contact__info__map-tablet img, .contact .info__map-tablet img {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .contact__info__map-tablet, .contact .info__map-tablet {
    padding-top: 6vw;
    display: block;
  }
}

.contact__info__map-desktop, .contact .info__map-desktop {
  display: none;
}

.contact__info__map-desktop img, .contact .info__map-desktop img {
  width: 100%;
}

@media screen and (min-width: 1150px) {
  .contact__info__map-desktop, .contact .info__map-desktop {
    margin-left: 3vh;
    display: block;
    width: 41%;
  }
}

.contact button {
  margin: 6vw auto 8vw auto;
  padding: 5vw 17vw;
  display: table;
  font-size: 6vw;
  text-transform: uppercase;
  background-color: transparent;
  border-color: #444444;
}

.contact button:hover {
  cursor: pointer;
  color: white;
  background-color: #444444;
}

.contact button:active {
  cursor: pointer;
  color: #838383;
  background-color: #444444;
}

@media screen and (min-width: 768px) {
  .contact button {
    padding: 2vw 7vw;
    font-size: 2vw;
  }
}

@media screen and (min-width: 1150px) {
  .contact button {
    margin: 0;
    padding: 1.5vh 3vh;
    font-size: 20px;
    position: absolute;
    left: 17%;
    bottom: 22%;
  }
}

.footer {
  background-color: #f1f1f1;
}

.footer__container, .footer .container {
  width: 65vw;
  margin: 0 auto;
}

.footer__container__logo, .footer .container__logo {
  display: none;
}

.footer__container__logo a, .footer .container__logo a {
  width: 11vw;
  content: url("../img/tablet/logo-footer.png");
}

.footer__container__logo a:hover, .footer .container__logo a:hover {
  content: url("../img/tablet/logo-footer-hvr.png");
}

.footer__container__logo a:active, .footer .container__logo a:active {
  content: url("../img/tablet/logo-footer-active.png");
}

.footer__container__nets, .footer .container__nets {
  height: 15vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.footer__container__nets a, .footer .container__nets a {
  line-height: 0;
}

.footer__container__nets a img, .footer .container__nets a img {
  width: 5vw;
}

.footer__container__nets a:nth-of-type(2) img, .footer .container__nets a:nth-of-type(2) img {
  height: 7vw;
}

.footer__container__nets a:nth-of-type(1), .footer .container__nets a:nth-of-type(1) {
  content: url("../img/icons/insta.png");
}

.footer__container__nets a:nth-of-type(1):hover, .footer .container__nets a:nth-of-type(1):hover {
  content: url("../img/icons/insta-hvr.png");
}

.footer__container__nets a:nth-of-type(1):active, .footer .container__nets a:nth-of-type(1):active {
  content: url("../img/icons/insta-active.png");
}

.footer__container__nets a:nth-of-type(2), .footer .container__nets a:nth-of-type(2) {
  content: url("../img/icons/facebook.png");
}

.footer__container__nets a:nth-of-type(2):hover, .footer .container__nets a:nth-of-type(2):hover {
  content: url("../img/icons/facebook-hvr.png");
}

.footer__container__nets a:nth-of-type(2):active, .footer .container__nets a:nth-of-type(2):active {
  content: url("../img/icons/facebook-active.png");
}

.footer__container__nets a:nth-of-type(3), .footer .container__nets a:nth-of-type(3) {
  content: url("../img/icons/twitter.png");
}

.footer__container__nets a:nth-of-type(3):hover, .footer .container__nets a:nth-of-type(3):hover {
  content: url("../img/icons/twitter-hvr.png");
}

.footer__container__nets a:nth-of-type(3):active, .footer .container__nets a:nth-of-type(3):active {
  content: url("../img/icons/twitter-active.png");
}

@media screen and (max-width: 768px) {
  .footer__container__nets a:nth-of-type(1), .footer .container__nets a:nth-of-type(1) {
    width: 5vw;
  }
  .footer__container__nets a:nth-of-type(2), .footer .container__nets a:nth-of-type(2) {
    width: 3.5vw;
  }
  .footer__container__nets a:nth-of-type(3), .footer .container__nets a:nth-of-type(3) {
    width: 5vw;
  }
}

.footer__container__developers, .footer .container__developers {
  height: 15vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer__container__developers h4, .footer .container__developers h4 {
  font-size: 5vw;
}

.footer__container__developers a, .footer .container__developers a {
  line-height: 0;
  margin-left: 2vw;
  width: 6vw;
  content: url("../img/mobile/developers.png");
}

@media screen and (min-width: 768px) {
  .footer .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer .container__logo {
    display: block;
    width: 11vw;
    line-height: 0;
  }
  .footer .container__logo img {
    width: 100%;
    height: auto;
  }
  .footer .container__nets a {
    line-height: 0;
    padding-left: 3vw;
  }
  .footer .container__nets a img {
    width: 3vw;
  }
  .footer .container__nets a:nth-of-type(1) {
    content: url("../img/icons/insta.png");
  }
  .footer .container__nets a:nth-of-type(1):hover {
    content: url("../img/icons/insta-hvr.png");
  }
  .footer .container__nets a:nth-of-type(1):active {
    content: url("../img/icons/insta-active.png");
  }
  .footer .container__nets a:nth-of-type(2) {
    content: url("../img/icons/facebook.png");
  }
  .footer .container__nets a:nth-of-type(2):hover {
    content: url("../img/icons/facebook-hvr.png");
  }
  .footer .container__nets a:nth-of-type(2):active {
    content: url("../img/icons/facebook-active.png");
  }
  .footer .container__nets a:nth-of-type(3) {
    content: url("../img/icons/twitter.png");
  }
  .footer .container__nets a:nth-of-type(3):hover {
    content: url("../img/icons/twitter-hvr.png");
  }
  .footer .container__nets a:nth-of-type(3):active {
    content: url("../img/icons/twitter-active.png");
  }
  .footer .container__developers h4 {
    font-size: 2vw;
  }
  .footer .container__developers a {
    line-height: 0;
    margin-left: 2vw;
    width: 2.5vw;
    content: url("../img/mobile/developers.png");
  }
  .footer .container__developers:active h4 {
    color: #bebebe;
  }
  .footer .container__developers:active a {
    content: url("../img/mobile/developers-active.png");
  }
}

@media screen and (min-width: 1150px) {
  .footer .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
  }
  .footer .container__logo a {
    width: 102px;
  }
  .footer .container__nets {
    height: 4vw;
    border: none;
  }
  .footer .container__nets a {
    line-height: 0;
    padding-left: 3vw;
  }
  .footer .container__nets a:nth-of-type(1) {
    content: url("../img/icons/insta.png");
  }
  .footer .container__nets a:nth-of-type(1):hover {
    content: url("../img/icons/insta-hvr.png");
  }
  .footer .container__nets a:nth-of-type(1):active {
    content: url("../img/icons/insta-active.png");
  }
  .footer .container__nets a:nth-of-type(2) {
    content: url("../img/icons/facebook.png");
  }
  .footer .container__nets a:nth-of-type(2):hover {
    content: url("../img/icons/facebook-hvr.png");
  }
  .footer .container__nets a:nth-of-type(2):active {
    content: url("../img/icons/facebook-active.png");
  }
  .footer .container__nets a:nth-of-type(3) {
    content: url("../img/icons/twitter.png");
  }
  .footer .container__nets a:nth-of-type(3):hover {
    content: url("../img/icons/twitter-hvr.png");
  }
  .footer .container__nets a:nth-of-type(3):active {
    content: url("../img/icons/twitter-active.png");
  }
  .footer .container__developers {
    height: 3vw;
  }
  .footer .container__developers h4 {
    font-size: 1.5vw;
    font-size: 16px;
  }
  .footer .container__developers a {
    content: url("../img/mobile/developers.png");
    width: 27px;
  }
}
